html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#playground {
  background: black;
  width: 100%;
  height: 100%;
}

#bird {
  height:100px;
  width: 100px;
  transform: translate(100px, 100px);
}

#gnat {
  position: absolute;
  height:100px;
  width: 100px;
  /*transform: translate(100px, 100px);*/
}


